<ul class="events">
    <li class="event">
        <div class="event_description">
            <p class="event_tag text-grey"><b>Chisinau automation & manual testting meetups</b></p>
            <h6><a href="">Chisinau automation & manual testting meetups</a></h6>
            <p class="text-grey">7 Members going</p>
        </div>
        <div class="event_date">
            <p class="event_day text-blue">Wensday, May 16</p>
            <p class="event_time">7:00 PM</p>
        </div>
    </li>
    <li class="event">
        <div class="event_description">
            <p class="event_tag text-grey"><b>Chisinau automation & manual testting meetups</b></p>
            <h6><a href="">Chisinau automation & manual testting meetups</a></h6>
            <p class="text-grey">7 Members going</p>
        </div>
        <div class="event_date">
            <p class="event_day text-blue">Wensday, May 16</p>
            <p class="event_time">7:00 PM</p>
        </div>
    </li>
    <li class="event">
        <div class="event_description">
            <p class="event_tag text-grey"><b>Chisinau automation & manual testting meetups</b></p>
            <h6><a href="">Chisinau automation & manual testting meetups</a></h6>
            <p class="text-grey">7 Members going</p>
        </div>
        <div class="event_date">
            <p class="event_day text-blue">Wensday, May 16</p>
            <p class="event_time">7:00 PM</p>
        </div>
    </li>
    <li class="event">
        <div class="event_description">
            <p class="event_tag text-grey"><b>Chisinau automation & manual testting meetups</b></p>
            <h6><a href="">Chisinau automation & manual testting meetups</a></h6>
            <p class="text-grey">7 Members going</p>
        </div>
        <div class="event_date">
            <p class="event_day text-blue">Wensday, May 16</p>
            <p class="event_time">7:00 PM</p>
        </div>
    </li>
    <li class="event">
        <div class="event_description">
            <p class="event_tag text-grey"><b>Chisinau automation & manual testting meetups</b></p>
            <h6><a href="">Chisinau automation & manual testting meetups</a></h6>
            <p class="text-grey">7 Members going</p>
        </div>
        <div class="event_date">
            <p class="event_day text-blue">Wensday, May 16</p>
            <p class="event_time">7:00 PM</p>
        </div>
    </li>
</ul>