<div class="container flex-container">
    <div class="sidebar profile-sidebar">
        <div class="profile-photo">
            <img src="img/photo.jpg" alt="">
        </div>
        <p class="profile-name">Dumitru Birchin</p>
        <p class="profile-p">Perfume Tips Tricks</p>
        <div class="connection-views">
            <div class="connection-views_block">
                <p class="connection-views_number">649</p>
                <p class="profile-p">Connections</p>
            </div>
            <div class="connection-views_block">
                <p class="connection-views_number">149</p>
                <p class="profile-p">Views</p>
            </div>
        </div>
        <button class="btn btn-white">View my profile</button>
    </div><!-- END .sidebar profile-sidebar -->
    <div class="group-container">

        <div class="tabs group-tabs inner-tabs">
            <ul>
                <li>
                    <a href="#recommended">Recommended </a>
                </li>
                <li>
                    <a href="#mostActive">Most active</a>
                </li>
                <li>
                    <a href="#newest">Newest</a>
                </li>
                <li>
                    <a href="#mostMembers">Most members</a>
                </li>
                <li>
                    <a href="#closest">Closest</a>
                </li>
                <li>
                    <a href="#createGroup">Create new group</a>
                </li>
            </ul>
            <div id="recommended">
                <div class="inner-tabs_info">
                    <p class="text-blue">6 meet-ups nearby</p>
                </div>
                <div class="group-list">
                    <div class="group-block">
                        <button class="btn btn-add-group opener"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group opener"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp2.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group opener"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp3.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group opener"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp4.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group opener"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp5.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group opener"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp6.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->

                </div><!-- END .group-list -->
                @@include('add-group.html')
            </div>
            <div id="mostActive">
                <div class="inner-tabs_info">
                    <p class="text-blue">6 meet-ups nearby</p>
                </div>
                <div class="group-list">
                    <div class="group-block">
                        <button class="btn btn-add-group opener"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp2.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp3.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp4.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp5.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp6.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->

                </div><!-- END .group-list -->
                @@include('add-group.html')
            </div>
            <div id="newest">
                <div class="inner-tabs_info">
                    <p class="text-blue">6 meet-ups nearby</p>
                </div>
                <div class="group-list">
                    <div class="group-block">
                        <button class="btn btn-add-group opener"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp2.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp3.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp4.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp5.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp6.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->

                </div><!-- END .group-list -->
                @@include('add-group.html')
            </div>
            <div id="mostMembers">
                <div class="inner-tabs_info">
                    <p class="text-blue">6 meet-ups nearby</p>
                </div>
                <div class="group-list">
                    <div class="group-block">
                        <button class="btn btn-add-group opener"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp2.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp3.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp4.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp5.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp6.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->

                </div><!-- END .group-list -->
                @@include('add-group.html')
            </div>
            <div id="closest">
                <div class="inner-tabs_info">
                    <p class="text-blue">6 meet-ups nearby</p>
                </div>
                <div class="group-list">
                    <div class="group-block">
                        <button class="btn btn-add-group opener"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp2.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp3.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp4.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp5.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->
                    <div class="group-block">
                        <button class="btn btn-add-group"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
                        <div class="block-img" style="background-image: url(img/exp6.jpg)"></div>
                        <div class="group_desc">
                            <h6>Let’s talk IT</h6>
                            <p class="text-grey">12 members</p>
                        </div>
                    </div><!-- END .group-block -->

                </div><!-- END .group-list -->
                @@include('add-group.html')
            </div>
            <div id="createGroup">
                @@include('create-group.html')
            </div>
        </div>

    </div><!-- END .group-container -->
</div><!-- END .container -->