<header class="header">
    <div class="bg-header" style="background-image: url(img/exp3.jpg);"></div>
    <div class="header-text">
        <div class="header-text_container">
            <h2 class="h-header text-white">Chisinau AI and Machine learning meetup</h2>
            <div class="header-info text-white">
                <p class="place">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    Chisinau, Moldova
                </p>
                <p class="members">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    68 Members
                </p>
                <p>Public Group</p>
            </div><!-- END .header-info -->
        </div><!-- END .header-text_container -->

    </div><!-- END .header-text -->

</header><!-- END .header -->
<div class="header_group-organization">
    <div class="people">
        <div class="profile-photo photo-small">
            <img src="img/photo.jpg" alt="">
        </div>
        <a href="" class="link-name">Edgar Ray</a>
        <p class="text-grey">Restorative Dentist New York</p>
    </div>

    <div class="btn-container">
        <button class="btn btn-blue-border btn-round">Join this group</button>
        <button class="btn btn-red-border btn-round">Report this group</button>
    </div>
</div>