<header class="header">
    <div class="bg-header" style="background-image: url(img/exp3.jpg);"></div>
    <div class="header-text">
        <div class="header-text_container">
            <h2 class="h-header text-white">Technical debt explained: from mitigation
                to prevention - online event</h2>
            <div class="header-info text-white">
                <p class="place">
                    Thursday, January 17, 2019
                </p>
                <p>Public Group</p>
            </div><!-- END .header-info -->
        </div><!-- END .header-text_container -->

    </div><!-- END .header-text -->

</header><!-- END .header -->
<div class="header_group-organization header_event">
    <div class="people">
        <div class="profile-photo photo-small">
            <img src="img/photo.jpg" alt="">
        </div>
        <a href="" class="link-name">Edgar Ray</a>
        <p class="text-grey">Restorative Dentist New York</p>
    </div>
    <h6 class="going">Are you going? <span class="text-grey">( 14 people going)</span></h6>
    <div class="btn-container">
        <button class="btn btn-green-border btn-round btnOpen">Yes, i am going</button>
        <button class="btn btn-yellow-border btn-round">No, i am not going</button>
    </div>
</div>
<div class="notification">
    <div class="notification-wrapper">
        <button class="dialog-div-close"></button>
        <div class="modal-photo">
            <img src="img/photo.jpg" alt="">
        </div>
        <h4>This is Sophie, your host
            for this meetup</h4>
        <p class="text-grey time-event">If anything changes, just update your response
            - it helps people like Sophie adjust their plans
            and get things ready. ( Plus, it;s polite)</p>
        <button class="btn btn-md btn-blue">Add to calendar</button>
        <div class="response">
            <h6 class="text-green">Your response: Going</h6>
            <h6 class="text-blue">Technical debt explained: from mitigation
                to prevention - online event</h6>
            <p class="time-event">Thursday, january 17, 2019</p>
            <p class="time-event">5:00PM to 6:30 PM</p>
            <p class="time-event">Online Webinar</p>
        </div>
    </div>

</div>