<div class="main-menu">
    <div class="container">
        <div class="row between">
            <a href="" class="logo"><span class="full-logo">Today hub</span>
                <span class="logo-block">TH</span>
            </a>
            <form>
                <label>Start a new group</label>
                <input type="text" placeholder="User Name">
                <input type="password" placeholder="Password">
                <button class="btn btn-blue btn-xs">Login</button>
            </form>
        </div>

    </div>
</div>