<div class="menu">
    <div class="container menu-container">
        <div class="menu-left">
            <a href="" class="logo-block">TH</a>
            <div class="divider"></div>
            <a class="btn-menu dropbtn">Menu
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>

        </div>
        <div class="search-menu_block">
            <input type="text" class="menu-search" placeholder="Search hub">
            <span class="search-place">within <span class="text-blue">50 miles</span> of <span class="text-blue">Chisinau, MD</span></span>
        </div>


        <div class="menu-notification">
            <a href="#">
                <img src="img/bell.png" alt="" class="notification-icon">
            </a>
            <a href="#">
                <img src="img/message.png" alt="" class="notification-icon">
            </a>
            <a href="" class="menu-photo">
                <img src="img/photo.jpg" alt="">
            </a>
        </div>
    </div>

</div>
<div class="dropdown-content">
    <div class="dropdown-container">
        <div class="dropdown-block main-links">
            <a href="">Home</a>
            <a href="">Messages</a>
            <a href="">Request</a>
        </div>
        <div class="dropdown-block">
            <p>Profile</p>
            <a href="">Edit profile</a>
            <a href="">My profile</a>
        </div>
        <div class="dropdown-block">
            <p>My network</p>
            <a href="">Feed</a>
            <a href="">Group</a>
            <a href="">Calendar</a>
        </div>
        <div class="dropdown-block">
            <p>Meetups</p>
            <a href="">My Groups</a>
            <a href="">My Events</a>
        </div>
        <div class="dropdown-block">
            <p>Notification</p>
            <a href="">My Notification</a>
            <a href=""></a>
        </div>
        <div class="dropdown-block">
            <p>Help</p>
            <a href="">FAQ</a>
            <a href="">Contact form</a>
        </div>
        <div class="dropdown-block">
            <p>Invites</p>
            <a href="">Accepted Invites</a>
            <a href="">Purpose Invites</a>
        </div>
    </div>
</div>