<div class="sidebar profile-sidebar">
    <div class="profile-photo">
        <img src="img/photo.jpg" alt="">
    </div>
    <p class="profile-name">Dumitru Birchin</p>
    <p class="profile-p">Perfume Tips Tricks</p>
    <div class="connection-views">
        <div class="connection-views_block">
            <p class="connection-views_number">649</p>
            <p class="profile-p">Connections</p>
        </div>
        <div class="connection-views_block">
            <p class="connection-views_number">149</p>
            <p class="profile-p">Views</p>
        </div>
    </div>
    <button class="btn btn-white">View my profile</button>
</div><!-- END .sidebar profile-sidebar -->